.banner{
    background: var(--color-degrade);
    color: var(--color--texto-fundo-degrade);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 2rem;

}

.banner__titulo{
    font-size: 18px;
    font-weight: 700;
}

.banner__texto{
    text-align: center;
    width: 316px;
    height: 44px;
    /* justify-items: ; */
}

.banner__pesquisa{
    background-color: transparent;
    border: .0625rem solid var(--color--texto-fundo-degrade);
    color: var(--color--texto-fundo-degrade);
    border-radius: 1.5rem;
    width: 23.75rem;
    height: 2.75rem;
    font-family: var(--font-padrao);
    font-size: .875rem;
    font-weight: normal;
    padding: 0 3rem;
}

.banner__pesquisa::placeholder{
    font-family: var(--font-padrao);
    font-size: .875rem;
    font-weight: normal;
    text-align: center;
    color: var(--color--texto-fundo-degrade);
    background: url(../assets/pesquisa.svg) no-repeat;
    padding: 0 2rem;
}

.banner.topicos{
    padding: 1.5rem 1rem 2rem;
}

.banner__titulo.topicos{
    font-size: 1rem;
    font-weight: 300;
}

.lista__topicos{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    padding: .5rem 0;
}

.lista__topicos__link{
    background-color: var(--color-titulos-e-background-links);
    padding: 1rem 1.5rem;
   
}

.link{
    text-decoration: none;
    color: var(--color--texto-fundo-degrade);
    font-size: .875rem;
    font-weight: 700;
}
