@import url(../js/swiper.js);

.carrossel__titulo{
    color: var(--color-titulos-e-background-links);
    background-color: var(--color-background-textos);
    text-transform: uppercase;
    text-align: center;
    font-size: 1.125rem;
    font-weight: 700;
    padding: 1rem 0 0.5rem 0;
}

.swiper-slide img{
    width: 100%;
}

.swiper-paginacao {
    position: initial;
    text-align: center;
    margin: 1rem 0 ;
}